@import "../abstracts/variable";
/* Blog  */
.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  .blog-card {
    background: white;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: transform 0.3s ease;
    &:hover {
      transform: translateY(-5px);
    }
    .blog-image {
      height: 200px;
      background: #eee;
      position: relative;
      img {
        max-width: 100%;
      }
    }

    .blog-content {
      padding: 1.5rem;
      .blog-tags {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 1rem;
      }
      .blog-tag {
        background: var(--light);
        padding: 0.3rem 0.8rem;
        border-radius: 20px;
        font-size: 0.9rem;
      }
    }
  }
}
.custom-dropdown-toggle {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
