@import "../abstracts/variable";

/* Document */
.document-actions {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

.document-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  max-height: 280px;
  overflow-y: auto;
}

.assignment-grid {
  height: 280px;
  overflow-y: auto;
}
.assignment-container {
  width: 100%;
}
.assignment-delete {
  color: #fa5454;
  cursor: pointer;
  &:hover {
    color: #fe6c6a;
  }
}

.assignment-card {
  cursor: pointer;
}

.assignment-icon {
  color: var(--primary);
}
.input-file-container {
  width: 100%;
}
.input-file {
  width: 80%;
}

.document-card {
  background: white;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.document-icon {
  font-size: 3rem;
  color: var(--primary);
  margin-bottom: 1rem;
}

.doc-tabs {
  padding: 0.5rem 1rem;
  color: #c7c7c7;
  border-bottom: 4px solid #c7c7c7;

  // border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.doc-tabs.active {
  color: #615b97;
  border-bottom: 4px solid #615b97;
}

.left-side {
  width: 20%;
}

.right-side {
  width: 80%;
  margin-left: 20px;
}
.class-name {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  border-radius: 10px;
  &:hover {
    background-color: var(--primary);
    color: white;
  }
}
.class-name.active {
  background-color: var(--primary);
  color: white;
}
.search-bar-docs {
  outline: none;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  padding: 0.5rem 1rem;
  width: 100%;
}
