@import "../abstracts/variable";

/* Message */
.message-actions {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.search-bar {
  border: 1px solid #eee;
  border-radius: 30px;
  background: white;
}

.message-tabs {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.tab-item {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background: var(--primary);
    color: white;
  }
}

.tab-item.active {
  background: var(--primary);
  color: white;
}

.message-details {
  width: 100%;
}

.message-attachment {
  display: flex;
  align-items: center;
  color: var(--accent);
  margin-top: 0.5rem;
}
.message-item {
  cursor: pointer;
}

.chat-container {
  display: flex;
}

.sidebar-chart {
  width: 300px;
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.add-btn {
  background-color: #9370db;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.contacts,
.groups,
.chats {
  margin-top: 20px;
}
.chats ul {
  overflow-y: auto;
  max-height: 250px;
}

.contacts h3,
.groups h3,
.chats h3 {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.contacts ul,
.groups ul,
.chats ul {
  list-style: none;
}

.contacts li,
.groups li,
.chats li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: white;
  cursor: pointer;
}

.contacts li img,
.groups li img,
.chats li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.chat-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.header-info h2 {
  font-size: 18px;
  color: #333;
  padding: 0;
  margin: 0;
}

.header-info p {
  font-size: 12px;
  color: #666;
  padding: 0;
  margin: 0;
}

.chat-messages {
  height: 500px;
  // flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.message {
  max-width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.received {
  background-color: #e0e0e0;
  margin-left: 10px;
}

.sent {
  background-color: #9370db;
  color: white;
  margin-left: auto;
  margin-right: 10px;
}

.chat-input {
  padding: 10px;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.send-btn {
  background-color: #9370db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
