:root {
  --primary: #4361ee;
  --primary-opacity: #4362ee7d;
  --secondary: #3f37c9;
  --accent: #4895ef;
  --danger: #f72585;
  --light: #e6ebee;
  --dark: #2b2d42;
  --border-radius: 15px;
  --shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}
